.flexbox{
display:flex;
flex-direction: row;
height: 50px;
}
.item1{
color: white;
background-color: black;
}
.pink{
background-color: lightpink;
width: 100px;
flex-direction: row;
justify-content: center;
display:flex;
align-items: center;
}
.lightblue{
width:200px;
background-color: lightblue;
}